/.github export-ignore
/AGENTS.md export-ignore
/CLAUDE.md export-ignore
/GEMINI.md export-ignore
/composer.lock export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/tests export-ignore
